@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.para {
  width: 350px;
}

.para::first-letter {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  font-family: cursive;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: auto;
}

.card-text::first-letter {
  text-transform: capitalize;
}